body, html{
    margin:auto;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
header{
    background-color: rgba(128, 128, 128, 0.555);
    text-align: center;
    padding: 32px;
}
.titrelistedates{
    background-color: rgba(128, 128, 128, 0.555);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    padding:16px;
    


}    
    
    

.portraitimage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.portraitimage img{
    border-radius: 1%;
}

.content{
    width: 40%;
    text-align: justify;
    
}
.content h3{
    padding: 20px;
}
.content li{
    padding: 7px;
}
